################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetCoreFromLocal/.vs/AspNetCoreFromLocal
/AspNetCoreFromLocal/AspNetCoreFromLocal/bin/Debug/netcoreapp3.1
/AspNetCoreFromLocal/AspNetCoreFromLocal/obj
